{
  "presets": [
    /**
     * TODO: needs a change to support RESTDataSource
     * "es2015" -> (NW)
     * "@babel/preset-react"
     */
    "@babel/preset-react",
    "@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    },
    "stage-0",
    "react"
  ],
  "plugins": [
    "babel-plugin-inline-import"
  ]
}
